@font-face {
    font-family: 'Computer';
    src: url('Computer.eot');
    src: url('Computer.eot?#iefix') format('embedded-opentype'),
        url('Computer.woff2') format('woff2'),
        url('Computer.woff') format('woff'),
        url('Computer.ttf') format('truetype'),
        url('Computer.svg#Computer') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

